.button {
	border-radius: 5px;
	border: none;
	padding: 10px;
	margin-top: 50px;
	text-transform: uppercase;
	font-weight: bold;
	max-width: 250px;
	width: 100%;
	box-shadow: var(--shadow-elevation-medium);
	font-weight: 900;
}

.white {
	color: var(--ark-blue);
	background-color: white;
	border: 3px solid white;
}

.blue {
	color: white;
	background-color: var(--ark-blue);
	border: 3px solid var(--ark-blue);
}